VITE_SUPABASE_URL=https://cvpunprngqlugzmnjoen.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2cHVucHJuZ3FsdWd6bW5qb2VuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MjQxMTIsImV4cCI6MjEwNTIwMDExMn0.XRDWoZ6AKV2faZe5K9PcSDBIscRzciEg5dcAYxe06C8
